{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Narges Yaghoubi | Personal Portfolio</title>

    <!-- Font-Awesome CSS -->

    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/all.min.css' %}"/>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/all.min.css' %}"/>

    <!-- Magnific-Popup CSS -->
    <link rel="stylesheet" href="{% static 'vendors/magnific-popup/magnific-popup.css' %}"/>

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css>



</head>
<body>


<!-------------------- Scroll-Top Area (Start) -------------------->
<a href="#home" class="scroll-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-------------------- Scroll-Top Area (End) -------------------->


<!-------------------- Header Area (Start) -------------------->
<header class="header">

    <!-- Logo -->
    <a class="logo" href="#home">
        <h2> Narges </h2>
        <!-- <img src="assets/images/logo.png" alt="logo" /> -->
    </a>
    <!-- Logo End -->

    <!-- Navbar -->
    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#project">projects</a>
        <a href="#portfolio">Courses</a>
        <a href="#contact">contact</a>
    </nav>

    <!-- Menubar -->
    <div class="fas fa-bars" id="menu-btn"></div>

</header>
<!-------------------- Header Area (End) -------------------->


<!-------------------- Home Area (Start) -------------------->
<section class="home" id="home">

    <div class="box-container">

        <div class="content">
            <div class="text">
                <h2>hi there!</h2>
                <h1>I Am a <span class="typing-text"></span></h1>
                <p>Creative web developer offering 4+ years of experience providing high-impact web solutions for many
                    different organizations.</p>
                <a href="#about" class="btn">about me <i class="fas fa-user"></i></a>
            </div>
        </div>

        <div class="image">
            <img src="{% static 'images/Home/photo_2.jpg' %}" alt="Home-Image">
        </div>

    </div>

</section>

<!-------------------- Home Area (End) -------------------->


<!-------------------- About Area (Start) -------------------->
<section class="about" id="about">

    <di class="box-container">

        <div class="image">
            <img src="{% static 'images/About/photo_2.jpg' %}" alt="About-Image"/>
        </div>

        <div class="content">

            <h2>My name is Narges Yaghoubi</h2>
            <p>Passionate and driven programmer with two years of experience and asolid foundation in Python,
                with knowledge of Machine Learning, DeepLearning, and NLP models and algorithms.
                Experienced in multiple projectsrelated to Image Processing and Computer Vision.
                Eager to apply my skillsin dynamic, hands-on projects and collaborative environments, While continuously expanding my knowledge and pushing the boundaries of myexpertise.</p>

            <div class="about-info">

                <div class="info">
                    <h4>age: <span>23</span></h4>
                    <h4>gender: <span>female</span></h4>
                    <h4>language: <span>English, German, Persian</span></h4>
                    <h4>work: <span>Python Programmer & Data Scientist</span></h4>
                    <h4>freelance: <span>available</span></h4>
                    <a href="#" class="btn">download CV <i class="fas fa-download"></i></a>
                </div>

                <div class="counting">

                    <div class="box">
                        <h1 class="count">2</h1>
                        <h3>years of experience</h3>
                    </div>

                    <div class="box">
                        <h1 class="count" data-count="10">10</h1>
                        <h3>projects completed</h3>
                    </div>

                    </div>

                </div>

            </div>

        </di>

    </div>

    <div class="skill-container">


        <div class="heading">
            <h2>my <span>skills</span></h2>
        </div>

        <div class="skills">
            <div class="skill-item item1">
                {% for skill in skills %}
                    <div class="box">
                        <h3>{{ skill.title }}<span> {{ skill.percent }}% </span></h3>

                        <div class="progress-bar-wrap">
                            <div class="progress-bar">
                                <span style="width: {{ skill.percent }}%;"></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>


    </div>

</section>
<!-------------------- About Area (End) -------------------->


<!-------------------- Qualification Area (Start) -------------------->
<section class="qualification">

    <div class="heading">
        <h2>My <span>Education</span></h2>
    </div>

    <div class="box-container">

        <div class="education">

            <div class="experience-item">
                <i class="fas fa-graduation-cap"></i>
                <div class="content">
                    <span>2016 - 2019</span>
                    <h3>Mathematics and physics</h3>
                    <p>Alghadir High School</p>
                </div>
            </div>

        </div>

    </div>
</section>

<!-------------------- Qualification Area (End) -------------------->


<!-------------------- Services Area (Start) -------------------->
<section class="service" id="project">

    <div class="heading">
        <h2>My <span>Projects</span></h2>


    </div>

    <div class="box-container">
        {% for project in projects %}
            <div class="service-item">
                <i class="{{ project.icon }}"></i>
                <a href="{{ project.link }}"><h3>{{ project.title }}</h3></a>
                <a href="{{ project.link }}"><p>{{ project.text }}</p></a>

            </div>
        {% endfor %}
    </div>

</section>
<!-------------------- Services Area (End) -------------------->


<!-------------------- Portfolio Area (Start) -------------------->
<section class="portfolio" id="portfolio">

    <div class="heading">
        <h2>my <span>Courses</span></h2>
    </div>

        <div class="box-container">
            {% for course in courses %}

            <div class="portfolio-item image web">

            <img src="{{ course.image.url }}" alt="course"/>

                <div class="content">
                    <h4>{{ course.title|safe }}</h4>
                    <p>{{ course.text }}</p>

                </div>
            </div>
            {% endfor %}

        </div>

    </div>

</section>
<!-------------------- Portfolio Area (End) -------------------->


<!-------------------- Contact Area (Start) -------------------->
<section class="contact" id="contact">

    <div class="heading">
        <h2><span>contact</span> me</h2>
    </div>

    <div class="box-container">

        <div class="contact-info">

            <h3>get in touch</h3>

            <p>Open to coding challenges, creative dev ideas, and meaningful tech talks. Let’s connect and collaborate on your next project.</p>
            {% for basic in basics %}

            <div class="info-item">
                <h4>Phone:</h4>
                <div class="detail">
                    <div class="fas fa-phone">

                    </div>

                    <p><a href="tel:{{ basic.phone }}" style="color: white">{{ basic.phone }}</a></p>
                </div>

            </div>

            <div class="info-item">
                <h4>email:</h4>
                <div class="detail">
                    <div class="fas fa-envelope"></div>
                  <p><a href="mailto:{{ basic.email }}" style="color: white">{{ basic.email }}</a></p>
                </div>

            </div>

            <div class="info-item">
                <h4>linkedin:</h4>
                <div class="detail">
                    <div class="fab fa-linkedin"></div>
                    <p class="linkedin"><a href="{{ basic.linkedin }}" style="color: white">Linkedin</a></p>
                </div>
            </div>

            <div class="info-item">
                <h4>github:</h4>
                <div class="detail">
                    <div class="fab fa-github"></div>
                    <p class="github"><a href="{{ basic.github }}" style="color: white">GitHub</a></p>
                </div>
            </div>
            {% endfor %}
        </div>


        <form method="post" class="contact-form" id="contactUs-Form" action="{% url 'contact' %}" >
            {% csrf_token %}

            <input type="text" name="massage_name" class="box" id="name" placeholder="name" required/>
            <input type="email" name="massage_email" class="box" id="email" placeholder="email" required/>
            <input type="text" name="subject" class="box" id="subject" placeholder="subject" required/>
            <textarea cols="30" rows="10" name="massage" id="comment" class="box" placeholder="message"></textarea>
            <button type="submit" class="btn" name="submit" id="submit">send message</button>

            <span class="alert" id="msg"></span>

        </form>

    </div>

</section>
<!-------------------- Contact Area (End) -------------------->


<!-------------------- Footer Area (Start) -------------------->

<footer>
{% for basic in basics %}
    <div class="social">

        <a href="{{ basic.twitter }}" class="fab fa-x-twitter"></a>
        <a href="{{ basic.instagram }}" class="fab fa-instagram"></a>
        <a href="{{ basic.linkedin }}" class="fab fa-linkedin-in"></a>

    </div>
     {% endfor %}

    <div class="content">
        <p>created by <span style="color: black">Narges Yaghoubi</span> | all rights reserved</p>
    </div>

</footer>


<!-------------------- Footer Area (End) -------------------->


<!-- JQuery -->
<script src="{% static 'vendors/jquery/jquery-3.6.0.js' %}"></script>

<!-- SWIPER JS -->
<script src="{% static 'vendors/swiper/swiper.js' %}"></script>

<!-- Magnific-Popup JS -->
<script src="{% static 'vendors/magnific-popup/jquery.magnific-popup.js' %}"></script>

<!-- Typed JS -->
<script src="{% static 'vendors/typed/typed.js' %}"></script>

<!-- Custom Script File -->
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/scroll-spy.js' %}"></script>
<script src="{% static 'js/counter-up.js' %}"></script>
<script src="{% static 'js/portfolio.js' %}"></script>
<script src="{% static 'js/testi-slider.js' %}"></script>
<script src="{% static 'js/blog-slider.js' %}"></script>

<!---------------- Custom Script ---------------->

<!-- Typed Script -->
<script>
    var typed = new Typed('.typing-text', {

        strings: ['Python Developer', 'Data Scientist', 'web designer'],
        typeSpeed: 120,
        loop: true
    });
</script>


</body>
</html>
